body {
  font-family: Arial;
  margin: 0;
  padding: 20px;
  background: var(--bg);
  color: var(--text);
}

:root {
  --bg: #fff;
  --text: #000;
  --card: #f3f3f3;
}

.dark {
  --bg: #121212;
  --text: #fff;
  --card: #1f1f1f;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 20px 0;
}

#searchInput {
  width: 100%;
  padding: 10px 35px 10px 10px;
  border-radius: 6px;
  border: 1px solid #999;
}

#clearSearch {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 6px 10px;
  border: none;
  background: #888;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

#suggestions {
  list-style: none;
  padding: 0;
  margin: 2px 0 0 0;
  background: var(--card);
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid #777;
  display: none;
}

#suggestions li {
  padding: 8px 10px;
  cursor: pointer;
}

#suggestions li:hover {
  background: #ccc;
}

#recipeForm {
  margin-bottom: 20px;
  max-width: 500px;
}

#recipes {
  margin-top: 20px;
}

.recipe-card {
  background: var(--card);
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  position: relative;
}

.recipe-card img {
  width: 100%;
  border-radius: 8px;
  margin-top: 10px;
}

.delete-btn {
  width: 100%;
  padding: 10px;
  border: none;
  background: red;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}
